body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    background-color: cadetblue;
    border: 1px solid black;
    width: 600px;
}

#div1{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#nombreTarea{
    width: 250px;
    margin-right: 30px;
}

#verTarea{
    height: 300px;
    overflow: auto;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#quitarBordes{
    border: 1px solid black;
    border-bottom: none;
}

#quitarBordes > input{
    margin: 30px;
}

div > p{
    font-size: 25px;
    margin-top: 10px;
    display: inline-block;
    border:1px solid black;
    background-color: rgba(65, 107, 109, 0.644);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;

}

div > p > p{
    font-size:15px;
}

/* p:hover{
    text-decoration: line-through;
    cursor: pointer;
    background-color: red;
    color: black;
} */